.logoMarqueeSection {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#logoMarqueeSection {
    max-width: 100%;
    margin: 0 auto;
}

.default-content-containera {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    width: 70%;
    min-height: 70vh;
}

.marqueelogo {
    height: 120px;
    width: auto; /* Ensure logos maintain their aspect ratio */
}

.logoMarqueeSection>div>div {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
}

.marquee-wrapper {
    display: flex; /* Use flexbox for better control */
    white-space: nowrap;
    overflow: hidden;
    width: 100%; /* Ensure the wrapper takes the full width */
}

.marquee {
    display: flex; /* Use flexbox for better control */
    white-space: nowrap;
    position: relative;
    transform: translate3d(0%, 0, 0);
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee a {
    display: inline-block;
    white-space: nowrap;
    padding-right: 12rem;
}

.marquee-wrapper:hover .marquee {
    animation-play-state: paused !important;
}

@keyframes marquee {
    0% {
        transform: translate3d(0%, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
