.bodyreseña {
    font-family: Urbanist, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.containerreseña {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    box-sizing: border-box;
}

.review-form,
.map {
    width: 100%;
    margin: 10px 0;
}

.review-form h2 {
    margin-bottom: 20px;
}

.review-form label {
    display: block;
    margin-bottom: 5px;
}

.review-form input,
.review-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.review-form textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 80px;
}

.review-form .star-rating {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin-bottom: 10px;
}

.review-form .star-rating input {
    display: none;
}

.review-form .star-rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.review-form .star-rating input:checked ~ label,
.review-form .star-rating input:checked ~ label ~ label {
    color: gold;
}

.review-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: orange;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.review-form button:hover {
    background-color: orange;
}

.map iframe {
    width: 100%;
    height: 270px;
    border-radius: 4px;
}

.dynamic-title {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 5px auto;
    width: fit-content;
}

/* Media Queries */

@media (min-width: 600px) {
    .containerreseña {
        flex-direction: row;
    }

    .review-form,
    .map {
        width: 45%;
        margin: 10px;
    }

    .map iframe {
        height: 100%;
    }
}

@media (min-width: 599px) {
    .map iframe {
        height: 200px;
    }

    .dynamic-title {
        font-size: 25px;
        padding: 15px;
    }
}
